{% extends "coach/base.html" %} {% block title %} Login {% endblock %} {% block body %} {% load staticfiles %}

<link rel='stylesheet' type="text/css" href="{% static 'coach/styles.css' %}" />
<style>
  body {
    background-image: url("https://i.pinimg.com/originals/0f/52/34/0f52343ae0b6e8c5a23f85219470171f.jpg")
  }
</style>
<br>
<div id="titles">
  <h1> Coache's Office</h1>

  <h2 class="byline"> </h2>
</div>
<fieldset>
  <div class="container-fluid">
    <div class="row">
      <div class="">
        <div class="wrap">
          <p class="form-title">
          </p>
          <br>
          <div class="col-6 sm" style="width:50%; float:left;">
            <p class="form-title">
              Athlete's Weekly Private Plan
            </p>
            <form method="POST" class="post-form" action="{% url 'coachadmin' %}">{% csrf_token %} {{ form.as_p }}
              <input style="width:200px; height:30px;font-size:14px" autocomplete="off" type="submit" value="Enter plan" class="btn btn-success btn-sm" /> {% if message %}
              <div style="color:white;">
                {{ message }}
              </div>
              {% endif %}
            </form>
          </div>
          <div class="col-6 sm" style="width:50%; float:right;">
            <p class="form-title">
              Team's Weekly Training Plan
            </p>
            <form method="POST" class="post-form" action="{% url 'teamcoachadmin' %}">{% csrf_token %} {{ form1.as_p }}
              <input style="width:200px; height:30px; font-size:14px" autocomplete="off" type="submit" value="Enter plan" class="btn btn-success btn-sm" /> {% if message1 %}
              <div style="color:white;">
                {{ message1 }}
              </div>
              {% endif %}
            </form>
            <br>
            <br>
            <br>
          </div>
          <form>
            <button style="margin-left:auto;margin-right:auto;display:block;margin-top:48%;margin-bottom:5px;width:200px; height:30px; font-size:14px" type="button"><a  id="button_specal" href="{% url 'index' %}">Back to Homepage</a></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</fieldset>



{% endblock %}
