body {
  background: url('https://assets.propublica.org/images/series/_threeTwo400w/20150820-doping-tests-300x200_1.jpg') fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

p.form-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

form {
  width: 250px;
  margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"], form.login input[type="password1"], form.login input[type="email"] {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  border-bottom: 1px solid #FFFFFF;
  outline: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: #FFFFFF;
  outline: 0;
}

form.login input[type="submit"] {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 16px;
  outline: 0;
  cursor: pointer;
  letter-spacing: 1px;
}

form.login input[type="submit"]:hover {
  transition: background-color 0.5s ease;
}

form.login label, form.login a {
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}

form.login a {
  transition: color 0.5s ease;
}

form.login a:hover {
  color: #2ecc71;
}

.pr-wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

header {
  color: white;
  background-color: black;
  text-align: center;
  clear: left;
}

nav {
  text-align: right
}

div placeholder {
  width: 5%
}

.text-center {
  color: white;
  font-size: 16px;
}

a button {
  color: black;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

fieldset {
  margin-top: 100px
}

#login_title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
}

.post-form {
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background: 0;
  border: 0;
  outline: 0;
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5px;
  color: white;
  outline: 0;
  text-align: center;
}

#titles {
  text-align: center;
  color: white;
}

form.post-form {
  transition: color 0.5s ease;
}

#id_objective, #id_Athletes_name, #id_week_start_date, #id_monday_practice, #id_tuesday_practice, #id_wednesday_practice, #id_thursday_practice, #id_friday_practice, #id_saturday_practice, #id_sunday_practice {
  color: black;
}

#thank_you {
  color: white;
  margin-top: 6%;
  margin-left: 40px;
  text-align: center;
  font-weight: 700px;
}

#checkout_title {
  color: white;
  text-align: center;
  margin-top: 20px
}
